<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gabriel Ramirez - Portafolio</title>
    <link rel="stylesheet" href="/templates/css/menuStyles.css">
    
    <script type="importmap">
    {
        "imports": {
            "three": "https://unpkg.com/three@0.150.1/build/three.module.js",
            "three/addons/": "https://unpkg.com/three@0.150.1/examples/jsm/"
        }
    }
    </script>
</head>
<body>

    <sun-3d></sun-3d>

    <dc-header></dc-header>
    
    <button id="muteBtn" style="position: fixed; bottom: 20px; right: 20px; z-index: 100;">🔇</button>
    <script type="module" src="/src/components/DCHeader.js"></script>
    
    <audio id="jukebox" loop style="display: none;">
        <source src="/assets/Blank Banshee - Menu.mp3" type="audio/mp3">
    </audio>

    <script type="module" src="/templates/js/3DCountry.js"></script>
    <script type="module" src="/templates/js/menuButtons.js"></script> <script type="module" src="/templates/js/jukebox.js"></script>
    <script src="/js/script.js"></script>

</body>
</html>