body {
    margin: 0;
    padding: 0;
    font-family: arial, sans-serif;
    background-color: #1a001a;
}

header{
    font-size: 3em;
    text-align: center;
    color: #f4f4f4;
}

header h1{
    font-size: 2em;
    font-weight: 900px;
}

#3Dcontainer{
    width: 100vw !important;
    height: 90vh !important;
    color: white !important;
    position: absolute;
    top: 0;
    left: 0;
}

nav{
    width: 100%;
    height: 10vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #088F8F;
    display: flex;
    justify-content: center;
    align-items: center;
}

#muteBtn {
            position: absolute;
            bottom: 20px;
            right: 20px;
            z-index: 10; /* Para que quede por encima del canvas 3D */
            background: rgba(0, 0, 0, 0.5);
            border: 1px solid white;
            color: white;
            padding: 10px 15px;
            cursor: pointer;
            font-family: sans-serif;
            font-size: 16px;
            border-radius: 5px;
            transition: background 0.3s;
        }

        #muteBtn:hover {
            background: rgba(255, 255, 255, 0.2);
        }